.IconContainerLine {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px){

    .footer{

      justify-content: space-around;
      margin: 40px 60px ;
    }

    .header{

display: none;
    }
}