.HeroSection {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
    padding: 50px;

    background-image: url('../../assets/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }