
@font-face {
  font-family: 'myFont';
  src: url('/fonts/WorkSans.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  display: flex;
  flex-direction: column;
  
  gap: clamp(20px, 5vw, 40px); /* Reduced for mobile */

  width: 100%;
  min-height: 100vh;

  
  text-align: center;
  text-align: left;
  font-size: clamp(18px, 2vw, 24px);
  font-family: 'myFont';
  line-height: 1.6;
  background: linear-gradient(180deg, #fafafa, #f3f2f2 52.31%, #e7e7e7 69.49%, #fafafa);
  background-attachment: fixed;

}

@media (max-width: 768px) {
  body {
    text-align: center; /* Center text for better readability */
    font-size: 18px;
  }
}